# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\OSCAR ARINZE\Downloads\unionsystems-hrapp-wksp-hr-app-backend-3b53a60101ac\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
